#container{
	background: url('../../../../../../../20131224153852id_/http_/globbert.com/rw_common/themes/venture/images/content_grad.png') repeat-x top left;
	}
	
section{
	width: 960px!important;
	}
		
aside{
	display: none;
	}

